* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

:root {
  --primary-color: black;
  --secondary-color: #6c757d;
  --background-color: white;
  --background-color-nav: #9eaea9;
  --text-color: black;
  --switcher-color: rgb(76, 76, 76);
}

[data-theme="dark"] {
  --primary-color: rgb(247, 247, 247);
  --secondary-color: #d8d8d8;
  --background-color: black;
  --background-color-nav: #283f3c;
  --text-color: rgb(235, 235, 235);
  --switcher-color: rgb(156, 156, 156);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: var(--background-color-nav);
  color: var(--primary-color);
  height: 70px;
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 250px;
  margin-left: 20px;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}

nav li a {
  color: var(--primary-color);
  text-decoration: none;
}

.switcher-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switcher-description {
  display: flex;
}

.switcher-description p,
.switcher-description i {
  margin-right: 15px;
  font-size: 12px;
  color: var(--text-color);
}

.menu-icon {
  display: none;
  margin-right: 30px;
}

.welcome {
  background: url("img/6.jpg");
  background-color: var(--background-color);
  min-height: calc(110vh - 10px);
  background-size: cover;
  background-position: right-center;
  text-align: center;
  color: black;
}

.welcome h1 {
  font-size: 140px;
  padding-top: 150px;
  text-align: center;
}

.welcome p {
  font-size: 30px;
}

.welcome button {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  color: black;
}

.button button {
  background-color: var(--background-color-nav);
  border-radius: 20px;
  border: none;
  width: fit-content;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  padding-top: 10px;
}

.button button a {
  color: var(--primary-color);
  text-decoration: none;
}

.button button:hover {
  color: white;
  text-decoration: none;
  background-color: #5d6d67;
}

.about {
  text-align: center;
  padding: 60px;
  line-height: 25px;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.about h2 {
  font-size: 25px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image img {
  width: 450px;
  margin-top: 50px;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}

.registration h1 {
  padding-bottom: 20px;
}

form {
  padding-top: 90px;
  background-color: var(--background-color-nav);
  color: var(--primary-color);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  display: flex;
  align-items: center;
  width: 50%;
}

label {
  width: 150px;
  margin-right: 5px;
  text-align: right;
}

input {
  flex: 1;
  height: 30px;
  margin: 20px;
}

.submit {
  display: flex;
  width: 10%;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 380px;
}

input[type="submit"] {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: none;
  border-radius: 20px;
}

input[type="submit"]:hover {
  background-color: #5d6d67;
  color: white;
}

.photo img {
  width: 100%;
  height: 100px;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.contacts h1 {
  padding-bottom: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 18px;
}

.map iframe {
  width: 900px;
  height: 450px;
}

.address {
  text-align: left;
  margin-left: 50px;
}

.footer {
  background-color: var(--background-color-nav);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
}

/* The switch - the box around the slider - zkopírováno https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switcher-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switcher-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--switcher-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.top-button:hover {
  opacity: 1;
}
